#clockdiv{
    color: black;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

.countdown {
    margin:0;
    padding:0;
    /*background: url("../img/flouWithe.png") no-repeat center fixed;*/
    background-color: #f2f2f2;
    border: #f2f2f2;
    box-shadow: 2px 2px 3rem #f2f2f2;
    /*background-repeat: no-repeat;*/
}
#clockdiv > div{
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
    font-weight: bold;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
    font-weight: bolder;
}

