@font-face {
    font-family: "rufina";
    src: url("/font/Rufina/Rufina-Regular.ttf") format("ttf"),
    url("/font/Rufina/Rufina-Bold.ttf") format("ttf")
}
@font-face {
    font-family: "ruluko";
    src: url("/font/Ruluko/Ruluko-Regular.ttf") format("ttf")
}
body{
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 0;
    /*font*/
    font-family: "ruluko", sans-serif;
    color: #696773;
    background-color: #F1F1F9;
}

/*Header*/
header{
    margin-top: 15vh;
}
header div a{
    text-decoration: none;
    color: #696773;
}
header .navbar_cv{
    position: absolute;
    left: 0;
    width: 60vw;
    max-height: 70px;
    height: 12vh;
    background-color: #C3CFD5;
    border-radius: 0 10px 10px 0;

}
.navbar_cv nav{
    margin-left: 20vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.navbar_cv nav a{
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    font-weight: bold;
    color: #696773;
}
.navbar_cv nav a span{
    text-align: center;
}
/*Section*/
section{
    /*margin-top: 30vh;*/
    /*display: flex;*/
    /*flex-direction: row;*/
}
.box-flex-col{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
}
.box-flex-row{
    display: flex;
    flex-direction: row;
}
.title_box{
    margin: 3vh;
    text-align: center;
    font-size: 3vh;
}
.box{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.box img{
    max-height: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.box span{
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}
.read_more{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1vh 1vw 1vh 1vw;
    height: 3vh;
    width: 3vw;
    background-color: #C3CFD5;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #696773;

}
.box_title_1{
    height: 50%;
    display: flex;
    background-color: #EEE6E6;
}
.box_title_1:hover, .box_title_2:hover, .box_title_3:hover{
    transition-duration: 1s, 2s;
    -webkit-transform:scale(0.8); /* Safari et Chrome */
    -moz-transform:scale(0.8); /* Firefox */
    -ms-transform:scale(0.8); /* Internet Explorer 9 */
    -o-transform:scale(0.8); /* Opera */
    transform:scale(0.8);
}
.box_img_1{
    height: 50%;
}
.box_title_2{
    height: 50%;
    display: flex;
    background-color: #C3CFD5;
}
.box_img_2{
    height: 50%;
}
.box_title_3{
    height: 50%;
    display: flex;
    text-wrap: normal;
    background-color: #EEE6E6;
}
.box_img_3{
    height: 50%;
}
/*Main*/
main{
    margin-top: 15vh;
}
.box_theme_1{
    display: flex;
    flex-direction: row;
}
.box_theme_1 .box_theme_text{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3vw;
    padding: 3vh 2vw 3vh 2vw;
    height: 50%;
    border-radius: 10px;
    background-color: #EEE6E6;

}
.box_theme_2{
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
}
.box_theme_2 .box_theme_text{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3vw;
    padding: 3vh 2vw 3vh 2vw;
    height: 50%;
    border-radius: 10px;
    background-color: #C3CFD5;
}
.box_theme_2 img{
    position: relative;
    top: 14%;
}
.box_theme_3{
    margin-top: 12vh;
    display: flex;
    flex-direction: row;
}
.box_theme_3 .box_theme_text{
    margin: auto auto auto 3vw;
    padding: 3vh 2vw 3vh 2vw;
    height: 50%;
    border-radius: 10px;
    background-color: #696773;
    color: #F1F1F9;
}
.box_theme_3 #img_one{
    margin-top: -5%;
    margin-bottom: 30%;
}
.box_theme_3 #img_two{
    margin-left: -50%;
}
/*social box*/
.box_social strong{
    margin: 5vh;
    font-size: 2rem;
}
.box_social{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.box_social strong{
    text-align: center;
    margin-bottom: 10vh;
}
.box_social .social_img{
    display: flex;
    justify-content: space-evenly;
}
.social_img_zoom{
    transition-duration: 1s, 2s;
    -webkit-transform:scale(1.5); /* Safari et Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* Internet Explorer 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);

}
/*talent section*/
/*https://codepen.io/rohitutekar/pen/porxpvR*/
#skill{
    margin-top: 5vh;
}
.box_competence{
    padding: 5%;
    width: 100%;
    border-radius: 10px;
    background-color: #EEE6E6;
}
.box_competence_dev{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.box_competence_dev > div{
    margin-top: 1rem;
    width: 50%;
}
.box_competence .progress-bar {
    padding: 1vh;
    height: 1vh;
    width: 80%;
    border-radius: 100px;
    background-color: #696773;
}

.box_competence .bar {
    height: 100%;
    background-color: #C3CFD5;
    border-radius: 100px;
    box-shadow: inset 0 0 10px #C3CFD5;
}
.bar-html{
    width: 100%;
}
.bar-css{
    width: 70%;
}
.bar-python{
    width: 65%;
}
.bar-django{
    width: 75%;
}
.bar-php{
    width: 70%;
}
.bar-laravel{
    width: 80%;
}
.bar-js{
    width: 60%;
}
.bar-flutter{
    width: 40%;
}
.bar-react{
    width: 30%;
}
.bar-react-native{
    width: 30%;
}
.bar-conception-app{
    width: 70%;
}
.bar-bdd{
    width: 60%;
}
.bar-agile{
    width: 40%;
}
.bar-management{
    width: 70%;
}
.bar-gestion{
    width: 80%;
}
.bar-comptabilite{
    width: 70%;
}
.bar-create-project{
    width: 90%;
}
.bar-law{
    width: 50%;
}

.box_competence_business{
    margin-top: 2rem;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    background-color: #C3CFD5;
}
.box_competence_business > div{
    margin-top: 1rem;
    width: 50%;
}
.box_message_cv{
    margin-top: 5vh;
}
.box_msg_left{
    display: flex;
    justify-content: start;
}
.msg_left{
    padding: 3%;
    width: 40%;
    background-color: #C3CFD5;
    border-radius: 30px 5px 30px 5px;
}
.box_msg_left::before{
    content: "•";
    color: red;
}
.box_msg_right{
    display: flex;
    justify-content: end;
}
.box_msg_right::after{
    content: "•";
    color: red;
}
.msg_right{
    padding: 3%;
    width: 40%;
    background-color: #C3CFD5;
    border-radius: 5px 30px 5px 30px;
}
/*footer*/
footer{
    margin: 14vh -15vw 0 -15vw;
    height: 10vh;
    background-color: #C3CFD5;
}
.header_btn{
    position: relative;
    height: 5vh;
    width: 5vw;
}
.header_btn a{
    margin: auto;
}
.header_btn img{
    width: 10vw;
    height: 10vh;
}

/*Page contact*/
.title_contact{
    font-size: 3rem;
}
.box_contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vh;

}

.contact_contraire{
    display: flex;
    width: 48%;
    height: 20vh;
    background-color: #C3CFD5;
    margin: 1%;
}
.contact_contraire:nth-child(1){
    width: 100%;
}
.contact_contraire:nth-child(1), .contact_contraire:nth-child(4), .contact_contraire:nth-child(5), .contact_contraire:nth-child(8), .contact_contraire:nth-child(9){
    background-color: #696773;
}
.contact_contraire a{
    margin: auto;
}
.contact_contraire img{
    height: 8vh;
    width: 8vw;
}

.contact_contraire img:hover{
    transition-duration: 1s, 2s;
    -webkit-transform:scale(1.5); /* Safari et Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* Internet Explorer 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}
/*page projet*/
.box_projet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vh;

}
.projet_contraire{
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    height: 20vh;
    background-color: #C3CFD5;
    margin: 1%;
}
.projet_img{
    margin: auto;
}
.projet_text{
    margin: 1vw;
}
@media (max-width:635px) {
    body{
        margin-left: 0;
        margin-right: 0;
    }
    h1{
        margin-left: 2vw;
    }
    header .navbar_cv{
        position: inherit;
        width: 100%;
        max-height: 70px;
        height: 12vh;
        background-color: #C3CFD5;
        border-radius: 0 10px 10px 0;
    }
    .navbar_cv nav{
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
    }
    .box-flex-col:first-of-type{
        margin-top: 3vh;
    }
    .box{
        flex-direction: row;
    }
    .box-flex-row{
        flex-wrap: wrap;
    }
    .box-wrap-m{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .box_img_3, .box_img_2, .box_img_1{
        height: 100%;
        width: 50%;
    }
    .box_title_1, .box_title_2, .box_title_3{
        height: 100%;
    }
    .box_theme_1 div img, .box_theme_2 div img, .box_theme_3 div img{
        display: none;
    }
    .box_theme_3{
        margin-top: 3vh;
        margin-bottom: 5vh;
    }
    .social_img{
        flex-wrap: wrap;
    }
    .box_social strong{
        margin-bottom: 2vh;
    }
    .box_competence{
        width: auto;
    }
    .box_message_cv{
        margin-top: 5vh;
    }
    .box_msg_left{
        display: flex;
        justify-content: start;
    }
    .msg_left{
        margin-top: 2vh;
        padding: 3%;
        width: 60%;
        background-color: #C3CFD5;
        border-radius: 30px 5px 30px 5px;
    }
    .box_msg_left::before{
        content: "•";
        color: red;
    }
    .box_msg_right{
        display: flex;
        justify-content: end;
    }
    .box_msg_right::after{
        content: "•";
        color: red;
    }
    .msg_right{
        margin-top: 2vh;
        padding: 3%;
        width: 60%;
        background-color: #C3CFD5;
        border-radius: 5px 30px 5px 30px;
    }
    footer{
        margin: 14vh 0 0 0;
        height: 10vh;
        background-color: #C3CFD5;
    }
}
