@font-face {
    font-family: "rufina";
    src: url("/font/Rufina/Rufina-Regular.ttf") format("ttf"),
    url("/font/Rufina/Rufina-Bold.ttf") format("ttf")
}
@font-face {
    font-family: "ruluko";
    src: url("/font/Ruluko/Ruluko-Regular.ttf") format("ttf")
}
body{
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 0;
    /*font*/
    font-family: "ruluko", sans-serif;
    color: #696773;
    background-color: #F1F1F9;
}

/*Header*/
header{
    margin-top: 15vh;
}
header .navbar_cv{
    position: absolute;
    left: 0;
    width: 60vw;
    max-height: 70px;
    height: 12vh;
    background-color: #C3CFD5;

}
.navbar_cv nav{
    margin-left: 20vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.navbar_cv nav a{
    margin-top: auto;
    margin-bottom: auto;
}
.navbar_cv nav a span{
    text-align: center;
}
/*Section*/
section{
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
}
.box{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
}
.box img{
    max-height: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.box span{
    margin: auto;
}
.box_title_1{
    height: 50%;
    display: flex;
    background-color: #EEE6E6;
}
.box_img_1{
    height: 50%;
}
.box_title_2{
    height: 50%;
    display: flex;
    background-color: #C3CFD5;
}
.box_img_2{
    height: 50%;
}
.box_title_3{
    height: 50%;
    display: flex;
    background-color: #EEE6E6;
}
.box_img_3{
    height: 50%;
}
/*Main*/
main{
    margin-top: 15vh;
}
.box_theme_1{
    display: flex;
    flex-direction: row;
}
.box_theme_1 .box_theme_text{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3vw;
    padding: 3vh 2vw 3vh 2vw;
    height: 50%;
    border-radius: 10px;
    background-color: #EEE6E6;

}
.box_theme_2{
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
}
.box_theme_2 .box_theme_text{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3vw;
    padding: 3vh 2vw 3vh 2vw;
    height: 50%;
    border-radius: 10px;
    background-color: #C3CFD5;
}
.box_theme_2 img{
    position: relative;
    top: 14%;
}
.box_theme_3{
    margin-top: 12vh;
    display: flex;
    flex-direction: row;
}
.box_theme_3 .box_theme_text{
    margin: auto auto auto 3vw;
    padding: 3vh 2vw 3vh 2vw;
    height: 50%;
    border-radius: 10px;
    background-color: #696773;
    color: #F1F1F9;
}
.box_theme_3 #img_one{
    margin-top: -5%;
    margin-bottom: 30%;
}
.box_theme_3 #img_two{
    margin-left: -50%;
}
/*social box*/
.box_social{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.box_social strong{
    text-align: center;
    margin-bottom: 10vh;
}
.box_social .social_img{
    display: flex;
    justify-content: space-evenly;
}
/*talent section*/
/*https://codepen.io/rohitutekar/pen/porxpvR*/
.box_competence{

    padding: 5%;
    width: 100%;
    border-radius: 10px;
    background-color: #EEE6E6;
}
.box_competence_dev{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.box_competence_dev div{
    width: 50%;
}
.box_competence .progress-bar {

    padding: 1vh;
    height: 2vh;

    border-radius: 100px;

    background-color: #696773;
}

.box_competence .bar {
    width: 80%;
    height: 100%;
    background-color: #C3CFD5;
    border-radius: 100px;
    box-shadow: inset 0px 0px 10px #C3CFD5;
}
.box_competence_business{
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    background-color: #C3CFD5;
}
.box_competence_business div{
    width: 50%;
}
.box_message_cv{
    margin-top: 5vh;
}
.box_msg_left{
    display: flex;
    justify-content: start;
}
.msg_left{
    padding: 3%;
    width: 40%;
    background-color: #C3CFD5;
    border-radius: 30px 5px 30px 5px;
}
.box_msg_left::before{
    content: "•";
    color: red;
}
.box_msg_right{
    display: flex;
    justify-content: end;
}
.box_msg_right::after{
    content: "•";
    color: red;
}
.msg_right{
    padding: 3%;
    width: 40%;
    background-color: #C3CFD5;
    border-radius: 5px 30px 5px 30px;
}
/*footer*/
footer{
    margin: 14vh -15vw 0 -15vw;
    height: 10vh;
    background-color: #C3CFD5;
}
.header_btn{
    height: 5vh;
    width: 5vw;
    border-radius: 50%;
    background-color: #696773;
}
.header_btn a{
    margin: auto;
}
.header_btn img{
    width: 3vw;
    height: 3vh;
}
